<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cross_platform_demo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>958CD0479061BB32ABB38C03416EFE735417F476</string>
				<key>dateExpires</key>
				<string>5/19/26</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>958CD0479061BB32ABB38C03416EFE735417F476</string>
						<key>dateExpires</key>
						<string>5/19/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AV8PTPVT67</string>
						<key>name</key>
						<string>Hyung Jun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>958CD0479061BB32ABB38C03416EFE735417F476</string>
						<key>dateExpires</key>
						<string>5/19/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AV8PTPVT67</string>
						<key>name</key>
						<string>Hyung Jun Kim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>AV8PTPVT67.com.example.crossPlatformDemo</string>
				<key>com.apple.developer.team-identifier</key>
				<string>AV8PTPVT67</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1a2d4724-56d9-461b-8955-5db983a06ae3</string>
				<key>dateExpires</key>
				<string>5/19/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.example.crossPlatformDemo</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>AV8PTPVT67</string>
				<key>name</key>
				<string>Hyung Jun Kim</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
